<section>
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="submitForm(transferForm)" #transferForm="ngForm" role="form">
        <h4 mat-dialog-title>Transfer Funds</h4>
        <mat-dialog-content>
          <div class="row">
            <div class="col-md-6">
              <label for="acc_no">Account Number: </label>
              <input type="text" id="acc_no" class="form-control" name="accountNumber"
                     placeholder="123***789" [(ngModel)]="model.accountNumber"/>
            </div>
            <div class="col-md-6">
              <label for="transfer_acc_no">Send To: </label>
              <input type="text" id="transfer_acc_no" class="form-control" name="transfer_accountNumber"
                     placeholder="876***434" [(ngModel)]="model.transfer_accountNumber"/>
            </div>
            <div class="form-group col-md-6">
              <label for="amount">Amount: </label>
              <input type="text" id="amount" class="form-control" name="amount"
                     placeholder="5000000" [(ngModel)]="model.amount"/>
            </div>
          </div>
        </mat-dialog-content>
        <mat-dialog-actions class="pull-right">
          <button mat-button type="button" class="btn btn-danger" mat-dialog-close>Close</button>
          <button mat-button type="submit" [disabled]="!transferForm.form.valid" class="btn btn-info"><span
            class="text-white">Confirm</span></button>
        </mat-dialog-actions>
      </form>
    </div>
  </div>
</section>
