* {
  //margin-top: -10px;
  margin-left: 2px;
}


.searchInput {
  border-radius: 6px;
}

.filterButton {
  background-color: #192A56;
  color: #ffffff;
  margin-top: 20px;
}

.clearButton {
  background-color: #2C3335;
  color: #ffffff;
  margin-top: 20px;
}
