.balance {
  background-color: #0A79DF;
  color: #fff;
  margin-right: 1em;
  text-decoration: none
}

.deposit {
  background-color: green;
  color: #fff;
  margin-right: 1em;
  text-decoration: none
}

.transfer {
  background-color: #10A881;
  color: #fff;
  margin-right: 1em;
  text-decoration: none
}

.withdraw {
  background-color: #FF4848;
  color: #fff;
  margin-right: 1em;
  text-decoration: none
}
