<section>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-8">
      <button mat-raised-button class="withdraw pull-right"
              (click)="withdrawConfirm()">Withdraw
      </button>
      <button mat-raised-button class="transfer pull-right"
              (click)="transferConfirm()">Transfer Funds
      </button>
      <button mat-raised-button class="deposit pull-right"
              (click)="depositConfirm()">Deposit
      </button>
      <button mat-raised-button class="balance pull-right"
              (click)="balanceConfirm()">Check Balance
      </button>
    </div>
  </div>
</section>
